
//Fonts
$font-prata: 'Prata', serif;
$font-ptsans: 'PT Sans', sans-serif;

//Font sizes
$font-size-small: 15px;
$font-size-normal: 23px;
$font-size-xnormal: 28px;
$font-size-medium: 45px;
$font-size-xmedium: 50px;
$font-size-large: 65px;
$font-size-xlarge: 70px;
$font-size-xxlarge: 82px;
$font-size-huge: 144px;
$font-size-xhuge: 167px;

//Colors
$color-accent: #FD8C94;
$color-gray: #E9E9E9;
$color-black: #464646;
$color-white: #fff;
$color-grayshadow: #00000029;

//Box shadow
$modal-shadow: 0px 8px 20px $color-grayshadow;



//Media breakpoints
$layout-breakpoint-tablets: 768px;
$layout-breakpoint-desktops: 992px;
$layout-breakpoint-ldesktops: 1200px;

